<h3 mat-dialog-title>Login</h3>
<div class="error" *ngIf="error">{{error}}</div>
<div class="error" *ngIf="loginForm.get('email').dirty && loginForm.get('email').errors && loginForm.get('email').errors.required">Email is required.</div>
<div class="error" *ngIf="loginForm.get('email').dirty && loginForm.get('email').errors && loginForm.get('email').errors.email">E-mail is in wrong format.</div>
<div class="error" *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors && loginForm.get('password').errors.required">Password is required.</div>
<div class="error" *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors && loginForm.get('password').errors.minLength">Password should have at least 7 characters.</div>
<div class="error" *ngIf="loginForm.get('gdpr').dirty && loginForm.get('gdpr').errors && loginForm.get('gdpr').errors.requiredTrue">GDPR consent is required.</div>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="loginForm">
        <mat-form-field>
            <input [errorStateMatcher]="" matInput formControlName="email" placeholder="E-mail" required="required">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="password" placeholder="Password" required="required" type="password" />
        </mat-form-field>
        <mat-checkbox formControlName="gdpr" #gdpr><a routerLink="/about/gdpr" target="_blank">{{"LOGIN.GDPR" | translate}}</a></mat-checkbox>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-stroked-button (click)="createNewAccount()" [disabled]="!loginForm.valid">
        Create new account
    </button>
    <button mat-button mat-raised-button (click)="logWithEmail()" color="primary" [disabled]="!loginForm.valid">
        Log in
    </button>
    <button mat-button mat-stroked-button (click)="logWithGoogle()" [disabled]="!gdpr.checked">
        Log in with Google
    </button>
    <button mat-button mat-stroked-button (click)="close()">
        Cancel
    </button>
</mat-dialog-actions>
