login {
    display: contents;
}

login .mat-dialog-content {
    overflow: initial;
}

login div.error {
    color: #b40505;
    margin-top: -13px;
    margin-bottom: 10px;
    line-height: 22px;
    border: 1px solid #b40505;
    padding: 10px;
}

login h1 {
    margin: 0;
}

login button {
    width:100%;
    margin-bottom:10px !important;
    margin-left:0 !important;
}

login mat-form-field {
    width: 100%;
}
