progress-dialog {
    display: contents;
}

progress-dialog h1 {
    margin: 0;
}

progress-dialog a {
    width:50%;
    margin-top:20px;
}

progress-dialog div[mat-dialog-actions] {
    text-align:center;
    display: flex;
}
