<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.content}}</p>
</div>
<div mat-dialog-actions>
  <mat-progress-bar mode="indeterminate" [style.display]="!showProgress ? 'none' : 'block'"></mat-progress-bar>
  <a mat-button mat-raised-button href="{{data.url}}" target="_blank" color="primary" [style.display]="showProgress ? 'none' : 'block'">{{data.buttonName}}</a>
  <a mat-button mat-flat-button (click)="closeClick()" [style.display]="showProgress ? 'none' : 'block'">Close</a>
</div>
