yes-no-dialog {
    display: contents;
}

yes-no-dialog h1 {
    margin: 0;
}

yes-no-dialog button {
    width:100%;
}

yes-no-dialog div[mat-dialog-actions] {
    display: flex;
}

yes-no-dialog div[mat-dialog-actions] span {
    width:50px;
}
