#education .item {
    border-radius: 4px;
    width:98%;
    display: flex;
    cursor: pointer;
}

#education .item .mat-icon {
    font-size: 36px;
    padding: 18px 30px;
}

#education .item span {
    padding: 24px 20px;
    font-size: 16pt;
}
