<app-header title="Education"></app-header>
<div id="education-publications" class="page-wrapper">
    <h3>Publications</h3>
  <div class="publications">
    <mat-grid-list cols="2" rowHeight="130px">
      <mat-grid-tile *ngFor="let publication of publicationsKeys">
        <a class="mat-elevation-z2 item" target="_blank" href="{{publications[publication]}}">
          <mat-icon color="primary">publication</mat-icon>
          <span>{{"EDUCATION.PUBLICATIONS." + publication | translate}}</span>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
