<app-header title="Education"></app-header>
<div id="education" class="page-wrapper">
    <div>
        <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
              <div class="mat-elevation-z2 item" routerLink="/education/movies">
                <mat-icon color="primary">ondemand_video</mat-icon>
                <span>Movies</span>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="mat-elevation-z2 item" routerLink="/education/programmes">
                  <mat-icon color="primary">import_contacts</mat-icon>
                  <span>Programmes</span>
              </div>
            </mat-grid-tile>
          <mat-grid-tile>
            <div class="mat-elevation-z2 item" routerLink="/education/publications">
              <mat-icon color="primary">publication</mat-icon>
              <span>Science publications</span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="mat-elevation-z2 item" routerLink="/education/databases">
              <mat-icon color="primary">save</mat-icon>
              <span>Databases</span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="mat-elevation-z2 item" routerLink="/education/guidelines">
              <mat-icon color="primary">folder_open</mat-icon>
              <span>Guideline - case studies</span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
