#education-publications .item {
  border-radius: 4px;
  width:98%;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color:#000000;
  line-height: 150%;
}

#education-publications .item .mat-icon {
  font-size: 36px;
  padding: 20px 30px;
}

#education-publications .item span {
  padding: 24px 20px;
  font-size: 12pt;
}
