#education-movies .movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#education-movies .movies mat-card {
  max-width: 450px;
  margin-bottom: 30px;
}
