<app-header title="Education"></app-header>
<div id="education-guidelines" class="page-wrapper">
    <h3>Guildline - case study</h3>
    <div class="movies">
        <a href="{{casestudies[caseStudy]}}" target="_blank" *ngFor="let caseStudy of casetudiesKeys">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar><mat-icon color="primary">import_contacts</mat-icon></div>
                <mat-card-title>{{"EDUCATION.CASESTUDIES." + caseStudy + ".TITLE" | translate}} ({{"EDUCATION.CASESTUDIES." + caseStudy + ".LANG" | translate}})</mat-card-title>
            </mat-card-header>
        </mat-card>
        </a>
    </div>
</div>
