<app-header title="Education"></app-header>
<div id="education-movies" class="page-wrapper">
    <h3>Movies</h3>
  <div class="movies">
    <mat-card *ngFor="let movie of movies" >
      <mat-card-header>
        <div mat-card-avatar><mat-icon color="primary">ondemand_video</mat-icon></div>
        <mat-card-title>{{"EDUCATION.MOVIES." + movie.id + ".TITLE" | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <youtube-player [videoId]="movie.youtubeId" width="450" height="250"></youtube-player>
        <p>
          {{"EDUCATION.MOVIES." + movie.id + ".DESCRIPTION" | translate}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
