<app-header title="Education"></app-header>
<div id="education-databases" class="page-wrapper">
    <h3>Databases</h3>
    <div class="databases">
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS83nT8Qz39ovukjuiTKzb7WQ-IFh4YXr1xzMtP4z3BJvxvY1ukud7tfhWqRIBq4druHV_B_vZmm4lm/pubhtml?gid=158226400&single=true"></iframe>
    </div>
</div>
