#education-guidelines .mat-card {
    margin-bottom: 20px;
}

#education-guidelines a {
    text-decoration: none !important;
}

#education-guidelines .mat-card-header .mat-card-title {
    font-size: 16px;
    margin-bottom: 0;
}

#education-guidelines .mat-card-header-text {
    margin: 4px 16px 0;
}

#education-guidelines .mat-card-avatar {
    height: 30px;
}
