<app-header title="Education"></app-header>
<div id="education-programmes" class="page-wrapper">
    <h3>Programmes</h3>
  <div class="programmes">
    <mat-grid-list cols="2" rowHeight="130px">
      <mat-grid-tile *ngFor="let programme of programmesKeys">
        <a class="mat-elevation-z2 item" target="_blank" href="{{programmes[programme]}}">
          <mat-icon color="primary">import_contacts</mat-icon>
          <span>{{"EDUCATION.PROGRAMMES." + programme | translate}}</span>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
