<h3 mat-dialog-title>Add WMS Layer</h3>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" role="form">
        <mat-form-field>
            <input formControlName="wmsURL" type="url" matInput placeholder="WMS Server URL" (keyup)="urlChanged()" />
        </mat-form-field>
        <mat-form-field [style.display]="showWMSLayers? 'block' : 'none'">
            <mat-select formControlName="wmsLayerName" placeholder="Choose a layer provided by WMS">
                <mat-option *ngFor="let wmsLayer of loadedWMSLayers" [value]="wmsLayer.layerName">
                    {{wmsLayer.name}}
                </mat-option>
            </mat-select>
            <input formControlName="wmsLayerName" matInput placeholder="WMS Layer Name" />
        </mat-form-field>
        <mat-form-field [style.display]="showWMSLayers? 'block' : 'none'">
            <input formControlName="name" matInput placeholder="Layer name" />
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button color="primary" [disabled]="!validURL" (click)="tryConnection()">Connect to WMS</button>
  <button mat-button mat-raised-button color="primary" [style.display]="showWMSLayers? 'block' : 'none'" [disabled]="!form.valid" (click)="saveCustomWMSLayer()">Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
