
  <h3 mat-dialog-title>Edit measure</h3>
  <mat-dialog-content class="mat-typography">
      <form [formGroup]="form" role="form">
          <mat-form-field>
              <input matInput placeholder="Name" required="required" (blur)="updateMeasure()" (keydown)="updateMeasure()" formControlName="name">
          </mat-form-field>
          <mat-form-field>
              <mat-label>Measure</mat-label>
              <mat-select formControlName="type" (change)="updateMeasure()">
                  <mat-optgroup *ngFor="let sector of sectors" label='{{"NSWRM.CATALOG.SECTOR." + sector.toString() + "" | translate | uppercase}}'>
                      <mat-option *ngFor="let measureType of measureTypes[sector]" [value]="measureType">
                          {{"NSWRM.CATALOG." + measureType + ".NAME" | translate}}
                      </mat-option>
                  </mat-optgroup>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Height [m]" (blur)="updateMeasure()" (keydown)="updateMeasure()" type="number" formControlName="height" />
              <mat-error *ngIf="fieldHasAnyError('height')">
                  {{positiveIntegerConstraintError}}
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Depth [m]" (blur)="updateMeasure()" (keydown)="updateMeasure()" formControlName="depth"/>
              <mat-error *ngIf="fieldHasAnyError('depth')">
                  {{positiveIntegerConstraintError}}
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Length [m]" (blur)="updateMeasure()" (keydown)="updateMeasure()" formControlName="length"/>
              <mat-error *ngIf="fieldHasAnyError('length')">
                  {{positiveIntegerConstraintError}}
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Surface [m2]" (blur)="updateMeasure()" (keydown)="updateMeasure()" formControlName="surface"/>
              <mat-error *ngIf="fieldHasAnyError('surface')">
                  {{positiveIntegerConstraintError}}
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <textarea matInput placeholder="Description" formControlName="description" (blur)="updateMeasure()" (keydown)="updateMeasure()"></textarea>
          </mat-form-field>
          <mat-form-field>
              <mat-label>Measure 2nd</mat-label>
              <mat-select (change)="updateMeasure()" formControlName="type2">
                  <mat-optgroup *ngFor="let sector of sectors" label='{{"NSWRM.CATALOG.SECTOR." + sector.toString() + "" | translate | uppercase}}'>
                      <mat-option *ngFor="let measureType of measureTypes[sector]" [value]="measureType">
                          {{"NSWRM.CATALOG." + measureType + ".NAME" | translate}}
                      </mat-option>
                  </mat-optgroup>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
              <mat-label>Measure 3rd</mat-label>
              <mat-select (change)="updateMeasure()" formControlName="type3">
                  <mat-optgroup *ngFor="let sector of sectors" label='{{"NSWRM.CATALOG.SECTOR." + sector.toString() + "" | translate | uppercase}}'>
                      <mat-option *ngFor="let measureType of measureTypes[sector]" [value]="measureType">
                          {{"NSWRM.CATALOG." + measureType + ".NAME" | translate}}
                      </mat-option>
                  </mat-optgroup>
              </mat-select>
          </mat-form-field>
      </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <button mat-button mat-raised-button color="primary" [disabled]="!isEdited" (click)="saveMeasureForm()">Save</button>
      <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
