<div id="planner">
    <div *ngIf="afAuth.user | async as user; else mustLogin"></div>
    <ng-template #mustLogin>
        <div id="must-login">
            <div>Please login to use the planner</div>
        </div>
    </ng-template>
    <div class="flex-wrapper">
        <div id="options-pane">
            <div class="options">
                <div [hidden]="currentTab != 'mapSettings'">
                    <div class="pane-title">Map settings</div>
                    <div class="inner-wrapper">
                        <mat-form-field class="inner-wrapper">
                            <input matInput placeholder="Map name" [(ngModel)]="map.name" (blur)="updateMapSettings()">
                        </mat-form-field>

                        <mat-form-field class="inner-wrapper">
                            <mat-label>Catchment</mat-label>
                            <mat-select [(ngModel)]="map.catchment" (blur)="updateMapSettings()" (valueChange)="onCatchmentChange($event)">
                                <mat-option *ngFor="let dssDemoArea of dssAreas" [value]="dssDemoArea.name">
                                  {{dssDemoArea.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button mat-stroked-button (click)="generateReport()" color="primary"><mat-icon>menu_books</mat-icon>&nbsp;Generate report</button>
                    </div>
                </div>
                <div [hidden]="currentTab != 'measuresList'">
                    <div class="pane-title">Measures</div>
                    <div *ngFor="let measure of measures" class="measure-item inner-wrapper" [ngClass]="{'measure-selected' : measure.status == getMeasureStatus().EDIT}" (dblclick)="goToMeasurePolygon($event, measure)">
                        <div style="display:flex">
                            <div class="measure-icon">
                                <mat-icon class="success-color" *ngIf="measure.status == getMeasureStatus().SUCCESS">check_circle_outline</mat-icon>
                                <mat-icon class="warning-color" *ngIf="measure.status == getMeasureStatus().ERROR">error_outline</mat-icon>
                                <mat-icon *ngIf="measure.status == getMeasureStatus().EDIT">edit</mat-icon>
                            </div>
                            <div>
                                <div class="measure-name">{{measure.name}}</div>
                                <div [hidden]="measure.type == '' || measure.type == undefined" class="measure-type">{{"NSWRM.CATALOG." + measure.type + ".NAME" | translate}}</div>
                            </div>
                        </div>
                        <div class="actions">
                          <button mat-button mat-stroked-button (click)="removeMeasure(measure)" [disabled]="!isFeatureForThisMeasure(measure.layer)"><mat-icon class="fail-color">cancel</mat-icon> remove</button>
                          <button mat-button mat-flat-button color="primary" (click)="showEditForm(measure)" [disabled]="!isFeatureForThisMeasure(measure.layer)"><mat-icon>edit</mat-icon> edit</button>
                        </div>
                    </div>
                </div>
                <div [hidden]="currentTab != 'baseLayers'">
                    <div class="pane-title">Base layers</div>
                    <div class="inner-wrapper">
                        <mat-form-field>
                            <mat-label>Base layer</mat-label>
                            <mat-select>
                              <mat-option *ngFor="let baseLayer of baseLayers" (onSelectionChange)="changeBaseLayer(baseLayer)">
                                {{baseLayer.name}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="dss-layers-container" cdkDropList (cdkDropListDropped)="dropLayerListElement($event)">
                            <div class="layer-item" [class.custom-layer]="layer.isCustom" *ngFor="let layer of dssLayers.slice().reverse()" cdkDrag>
                                <mat-slide-toggle color="primary" [checked]="layer.active" (change)="onMapLayerChanged($event.checked, layer); layer.active = !layer.active">{{layer.name}}</mat-slide-toggle>
                                <img [hidden]="!layer.active" src="{{layer.wms}}?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&LAYER={{layer.layerName}}&style={{layer.styles}}&legend_options=forceLabels:on;dpi:80;labelMargin:6;bgColor:0xfafafa;fontAntiAliasing:true" class="legend" />
                            </div>
                        </div>

                        <button id="add-layer-button" color="primary" mat-flat-button (click)="addCustomLayer()"><mat-icon>library_add</mat-icon> Add WMS layer</button>
                    </div>
                </div>
            </div>
            <div class="toolbar">
                <button mat-icon-button (click)="zoomIn()" matTooltip="Zoom in" matTooltipPosition="right"><mat-icon>add</mat-icon></button>
                <button mat-icon-button (click)="zoomOut()" matTooltip="Zoom out" matTooltipPosition="right"><mat-icon>remove</mat-icon></button>
                <mat-divider></mat-divider>
                <button mat-icon-button (click)="showMeasuresList()" matTooltip="See measures list" matTooltipPosition="right"><mat-icon>library_books</mat-icon></button>
                <button mat-icon-button (click)="addMeasure()" matTooltip="Add new measure" matTooltipPosition="right" [disabled]="selectedFeature"><mat-icon>edit</mat-icon></button>
                <mat-divider></mat-divider>
                <button mat-icon-button (click)="showBaseLayers()" matTooltip="Manage layers" matTooltipPosition="right"><mat-icon>layers</mat-icon></button>
                <button mat-icon-button (click)="findInformation()" matTooltip="Find information about an area" matTooltipPosition="right"><mat-icon>info</mat-icon></button>
                <button mat-icon-button (click)="showMapSettings()" matTooltip="Information about map" matTooltipPosition="right"><mat-icon>map</mat-icon></button>
            </div>

            <mat-tab-group>
            </mat-tab-group>
        </div>
        <div id="map-pane">
            <div id="map"
                       leaflet
                       [leafletOptions]="leafletOptions"
                       [(leafletZoom)]="leafletZoom"
                       [(leafletCenter)]="leafletCenter"
                       [leafletLayers]="leafletLayers"
                       (leafletMapReady)="onMapReady($event)"
                       (leafletDrawCreated)="onDrawCreated($event)"
                       (leafletClick)="onClickMap($event)"
                       leafletDraw
                       [style.cursor]="informationMode ? 'crosshair' : 'default'"
                  >
            </div>
        </div>
    </div>
</div>
