planner {
    min-height: calc(100% - 48px);
    position: absolute;
    width: 100%;
    top: 64px;
}

div#planner .flex-wrapper {
    min-height: calc(100% - 17px);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

div#planner {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

div#planner > h2 {
    flex: 1 100%;
}

#map-pane {
    display: flex;
    flex: 1 360px;
    margin-left: 0;
}

#map {
    flex: 1;
}

#options-pane {
    flex: 1 25%;
    max-width:300px;
    display: flex;
    flex-direction: row;
    background: #fafafa;
}

#options-pane .toolbar {
    display: flex;
    flex-direction: column;
    background: #e9e9e9;
    width: 40px;
    border: 1px solid #bcbcbc;
}

#options-pane .options {
    width: 100%;
    overflow-y: scroll;
}

button.send {
    width: 100%;
}

#options-pane mat-form-field {
    width: 100%;
}

#options-pane fieldset {
    margin:25px;
}

#options-pane .mat-tab-label {
    min-width: 120px;
    padding:0;
}

planner .leaflet-control-container {
    display: none;
}

#options-pane .pane-title {
    padding: 20px 0;
    margin-bottom: 5px;
}

#options-pane .measure-icon {
    padding-right: 10px;
}

#options-pane .measure-icon .success-color {
    color:#249324;
}

#options-pane .measure-icon .fail-color {
    color:#c81a1a;
}

#options-pane .measure-icon .warning-color {
    color:#e89c3f;
}

#options-pane .options > div {
    padding: 0px 20px;
}

#options-pane .measure-item {
    border-bottom: 1px solid #dadada;
    cursor:pointer;
    padding-bottom: 10px;
    padding-top: 10px;
}

#options-pane .measure-item.measure-selected {
    background: #f0f0f0;
}

#options-pane .measure-name {
    font-weight: 500;
    padding-bottom: 10px;
}

#options-pane .measure-item .actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#options-pane .measure-item .actions mat-icon {
  font-size: 12pt;
  height: 17px;
}

#options-pane .measure-item .actions button {
  height: 28px;
  line-height: 23px;
  width: calc(1/2*100% - (1 - 1/2)*10px);
}

#options-pane .measure-item .actions button > span {
  font-size: 11pt;
}

#options-pane button {
    width: 100%;
}

planner #must-login {
    position: absolute; background-color: rgba(255, 255, 255, 0.6); width: 100%; height: 100%; z-index: 9999
}

planner #must-login > div {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.dss-layers-container mat-slide-toggle {
    display:block;
    min-height: 35px;
    height: auto !important;
}

.dss-layers-container mat-slide-toggle img {
    margin-top: 10px;
    margin-left: 13px;
}

.dss-layers-container .mat-slide-toggle-label {
    font-size: 12px;
}

.layer-item .legend {
    margin-left:20px;
}

.layer-item.custom-layer {
}

#add-layer-button {
    margin-bottom: 20px;
    margin-top: 20px;
}
