#tools .elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#tools .elements .tool-card {
    width:450px;
    margin-bottom:30px;
    border-radius: 0;
    min-height: 170px;
}

#tools .elements a {
    display: block;
    text-decoration: none;
}

#tools .elements .tool-card {
    cursor: pointer;
}

#tools .elements .tool-card, #tools .elements .mat-card-title {
    line-height: 150%;
}

#tools .elements .mat-icon {
    font-size: 44px;
    width: 44px;
    height: 44px;
}
