<div id="tools">
    <app-header title="Tools">{{"NAV.MENU.TOOLS" | translate}}</app-header>
    <div class="page-wrapper">
        <div class="lead">
        </div>
        <div class="elements">
          <a href="http://waterRetention.sggw.pl" target="_blank">
            <mat-card class="tool-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"><mat-icon color="primary">invert_colors</mat-icon></div>
                <mat-card-title>{{"TOOLS.FROGIS.TITLE" | translate}}</mat-card-title>
                <mat-card-subtitle>{{"TOOLS.FROGIS.DESCRIPTION" | translate}}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </a>
          <mat-card class="tool-card" routerLink="/planner">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"><mat-icon color="primary">map</mat-icon></div>
              <mat-card-title>{{"TOOLS.PLANNER.TITLE" | translate}}</mat-card-title>
              <mat-card-subtitle>{{"TOOLS.PLANNER.DESCRIPTION" | translate}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
            <a href="https://docs.google.com/document/d/1GZEG80m76_G-isVzzaFbE93DJz8a_ofrkQD9rKhiOqw/edit?usp=sharing" target="_blank">
              <mat-card class="tool-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"><mat-icon color="primary">waves</mat-icon></div>
                  <mat-card-title>{{"TOOLS.STATIC.TITLE" | translate}}</mat-card-title>
                  <mat-card-subtitle>{{"TOOLS.STATIC.DESCRIPTION" | translate}}</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </a>
          <mat-card class="tool-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"><mat-icon color="primary">grain</mat-icon></div>
              <mat-card-title>{{"TOOLS.DYNAMIC.TITLE" | translate}}</mat-card-title>
              <mat-card-subtitle>{{"TOOLS.DYNAMIC.DESCRIPTION" | translate}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <a href="http://ahp.framwat.apps.vokas.si/" target="_blank">
            <mat-card class="tool-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"><mat-icon color="primary">format_list_bulleted</mat-icon></div>
                <mat-card-title>{{"TOOLS.AHP.TITLE" | translate}}</mat-card-title>
                <mat-card-subtitle>{{"TOOLS.AHP.DESCRIPTION" | translate}}</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </a>
            <a routerLink="/legal-assistant">
              <mat-card class="tool-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"><mat-icon color="primary">menu_book</mat-icon></div>
                  <mat-card-title>{{"TOOLS.LEGAL.TITLE" | translate}}</mat-card-title>
                  <mat-card-subtitle>{{"TOOLS.LEGAL.DESCRIPTION" | translate}}</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </a>
        </div>
    </div>
</div>
