<app-header title="Administration"></app-header>
<div id="administration" class="page-wrapper">
  <mat-tab-group>
    <mat-tab label="users">
      <table mat-table [dataSource]="usersDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> User id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> E-mail </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="organization">
          <th mat-header-cell *matHeaderCellDef> Organization </th>
          <td mat-cell *matCellDef="let element"> {{element.organization}} </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Created at </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container>
        <ng-container matColumnDef="lastLoggedAt">
          <th mat-header-cell *matHeaderCellDef> Last logged at </th>
          <td mat-cell *matCellDef="let element"> {{element.lastLoggedAt}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button mat-raised-button color="yellow">edit</button>
            <button mat-button mat-raised-button color="yellow">show maps</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['id', 'name', 'email', 'organization', 'createdAt', 'lastLoggedAt', 'action']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'email', 'organization', 'createdAt', 'lastLoggedAt', 'action'];"></tr>
      </table>
    </mat-tab>
    <mat-tab label="maps">
      <button mat-button mat-raised-button color="yellow" (click)="downloadSelectedMaps()">download all selected</button>

      <table mat-table [dataSource]="mapsDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef> Author </th>
          <td mat-cell *matCellDef="let element"> {{element.author}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Catchment name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Created at </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <a mat-button mat-raised-button color="yellow" routerLink="/planner/{{element.uid}}/{{element.id}}" target="_blank">show</a>
            <button mat-button mat-raised-button color="yellow" (click)="downloadMap(element.id)">download</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['select', 'status', 'author', 'name', 'createdAt', 'action']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['select', 'status', 'author', 'name', 'createdAt', 'action'];"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
