<app-header title="Tools"></app-header>
<div id="legal-assistant" class="page-wrapper">
    <h3>Procedury prawne</h3>
<div>
    <p>Rozpoznanie prawne wykonano na dzień 15.10.2019 i należy je zawsze zweryfikować na stan obecny.</p>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Działanie</mat-label>
            <mat-select formControlName="measure" (valueChange)="form.get('owner').setValue(null); form.get('protectedArea').setValue(null)">
                <mat-optgroup *ngFor="let sector of sectors" label='{{"NSWRM.CATALOG.SECTOR." + sector.toString() + "" | translate | uppercase}}'>
                    <mat-option *ngFor="let measureType of measureTypes[sector]" [value]="measureType">
                        {{"NSWRM.CATALOG." + measureType + ".NAME" | translate}}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Miejsce położenia inwestycji</mat-label>
            <mat-select aria-label="Select an option" formControlName="owner" [disabled]="!form.get('measure').value" (valueChange)="form.get('protectedArea').setValue(null)">
                <mat-option value="prywatny" *ngIf="hasOwnerPrivate">teren prywatny</mat-option>
                <mat-option value="publiczny" *ngIf="hasOwnerPublic">teren publiczny</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Rodzaj objęcia ochrony obszaru</mat-label>
                <mat-select formControlName="protectedArea" [disabled]="!form.get('owner').value">
                    <mat-option value="niechroniony">niechroniony</mat-option>
                    <mat-option value="tereny cenne przyrodniczo (ogólnie)">tereny cenne przyrodniczo (ogólnie)</mat-option>
                    <mat-option value="park narodowy">park narodowy</mat-option>
                    <mat-option value="rezerwat przyrody">rezerwat przyrody</mat-option>
                    <mat-option value="park krajobrazowy">park krajobrazowy</mat-option>
                    <mat-option value="obszar chronionego krajobrazu">obszar chronionego krajobrazu</mat-option>
                    <mat-option value="natura 2000">natura 2000</mat-option>
                    <mat-option value="pomnik przyrody">pomnik przyrody</mat-option>
                </mat-select>
        </mat-form-field>
    </form>
</div>
    <div *ngIf="permission == 1">
        <h3>Zakaz</h3>
    </div>
    <div *ngIf="permission == 2">
        <h3>Nie dotyczy</h3>
    </div>
    <div *ngIf="selectedDocuments && selectedDocuments.length > 0">
        <h3 *ngIf="selectedDocuments.length">Wymagane dokumenty</h3>
        <h3 *ngIf="!selectedDocuments.length">Brak wymaganych dokumentow</h3>
        <div *ngFor="let selectedDocument of selectedDocuments">
            <h4>{{selectedDocument.name}}</h4>
            <p [innerHTML]="selectedDocument.advice"></p>
            <p>Wydawany przez: <span *ngFor="let legalInstitutionId of selectedDocument.legalInstitutionIds">{{getLegalInstitutionById(legalInstitutionId).name}}, </span></p>
            <mat-divider></mat-divider>
        </div>
    </div>
    <div *ngFor="let suggestion of suggestions">
        <h4>Opis</h4>
        <p [innerHTML]="suggestion">
        </p>
    </div>
</div>
