<div id="measures-catalog">
    <app-header title="Catalog of measures">{{"NSWRM.CATALOG.CATALOG_NAME" | translate}}</app-header>
    <div class="page-wrapper">
        <div id="catalog">
            <div id="search-form" class="nice-wrapper" class="narrow">
                <div class="form-title">
                    <h4>{{"NSWRM.CATALOG.SEARCH_CRITERIA" | translate}}</h4>
                </div>

                <section>
                    <h6>{{"NSWRM.CATALOG.FILTER.SECTOR" | translate}}</h6>
                    <div class="filters">
                        <mat-checkbox class="item" *ngFor="let sector of sectors" (change)="doFilter('sector', sector, $event.checked)" value="{{sector}}">{{"NSWRM.CATALOG.SECTOR." + sector | translate}}</mat-checkbox>
                        <div class="fill-item"></div>
                    </div>
                </section>
                <section>
                    <h6>{{"NSWRM.CATALOG.FILTER.GOAL" | translate}}</h6>
                    <div class="filters">
                        <mat-checkbox class="item" *ngFor="let goal of goals" (change)="doFilter('goal', goal, $event.checked)" value="{{goal}}">{{"NSWRM.CATALOG.GOAL." + goal | translate}}</mat-checkbox>
                        <div class="fill-item"></div>
                    </div>
                </section>
                <section>
                    <h6>{{"NSWRM.CATALOG.FILTER.SCALE" | translate}}</h6>
                    <div class="filters">
                        <mat-checkbox class="item" *ngFor="let scale of scales" (change)="doFilter('scale', scale, $event.checked)" value="{{scale}}">{{"NSWRM.CATALOG.SCALE." + scale | translate}}</mat-checkbox>
                        <div class="fill-item"></div>
                    </div>
                </section>
                <section>
                    <h6>{{"NSWRM.CATALOG.FILTER.LAND_USE" | translate}}</h6>
                    <div class="filters">
                        <mat-checkbox class="item" *ngFor="let landUse of landUses" (change)="doFilter('landUse', landUse, $event.checked)" value="{{landUse}}">{{"NSWRM.CATALOG.LAND_USE." + landUse | translate}}</mat-checkbox>
                        <div class="fill-item"></div>
                    </div>
                </section>
                <section>
                    <h6>{{"NSWRM.CATALOG.FILTER.SOIL_PERMEABILITY" | translate}}</h6>
                    <div class="filters">
                        <mat-checkbox class="item" *ngFor="let permeability of permeabilites" (change)="doFilter('permeability', permeability, $event.checked)" value="{{permeability}}">{{"NSWRM.CATALOG.PERMEABILITY." + permeability | translate}}</mat-checkbox>
                        <div class="fill-item"></div>
                    </div>
                </section>
                <section>
                    <h6>{{"NSWRM.CATALOG.FILTER.LANDSCAPE" | translate}}</h6>
                    <div class="filters">
                        <mat-checkbox class="item" *ngFor="let landscape of landscapes" (change)="doFilter('landscape', landscape, $event.checked)" value="{{landscape}}">{{"NSWRM.CATALOG.LANDSCAPE." + landscape | translate}}</mat-checkbox>
                        <div class="fill-item"></div>
                    </div>
                </section>
                <section>
                    <h6>{{"NSWRM.CATALOG.FILTER.NEAR_A_WATERCOURSE" | translate}}</h6>
                    <div class="filters">
                        <mat-checkbox class="item" (change)="doFilter('nearWater', 'yes', $event.checked)" value="true">{{"NSWRM.CATALOG.NEAR_WATER.YES" | translate}}</mat-checkbox>
                        <mat-checkbox class="item" (change)="doFilter('nearWater', 'no', $event.checked)" value="false">{{"NSWRM.CATALOG.NEAR_WATER.NO" | translate}}</mat-checkbox>
                        <div class="fill-item"></div>
                    </div>
                </section>
            </div>
        <div id="search-container" class="nice-wrapper">
            <div class="form-title">
                <h4>Results</h4>
            </div>

            <div [hidden]="filteredSectors.length > 0" class="error">
                {{"NSWRM.CATALOG.CANNOT_FIND" | translate}}
            </div>

            <div *ngFor="let sector of filteredSectors">
                <div class="sector-header">{{"NSWRM.CATALOG.SECTOR." + sector | translate | uppercase}}</div>

                <mat-accordion>
                  <mat-expansion-panel *ngFor="let measure of filteredMeasureBySector[sector]">
                    <mat-expansion-panel-header>
                      <div class="measure-code">{{measure.id}}</div>
                      <div class="measure-name">{{"NSWRM.CATALOG." + measure.id + ".NAME" | translate}}</div>
                    </mat-expansion-panel-header>
                    <div class="image-window"><img src="assets/img/measures-catalog/{{measure.id | lowercase}}.jpg"></div>
                    <div class="description">
                        <div class="filter-description">
                            <span class="filter-name">{{"NSWRM.CATALOG.FILTER.SECTOR" | translate}}</span>: {{"NSWRM.CATALOG.SECTOR." + measure.sector | translate}}<br>
                            <span class="filter-name">{{"NSWRM.CATALOG.FILTER.GOAL" | translate}}</span>: <span *ngFor="let goal of measure.goals">{{"NSWRM.CATALOG.GOAL." + goal | translate}}, </span><br>
                            <span class="filter-name">{{"NSWRM.CATALOG.FILTER.SCALE" | translate}}</span>: {{"NSWRM.CATALOG.SCALE." + measure.scale | translate}}<br>
                            <span class="filter-name">{{"NSWRM.CATALOG.FILTER.LANDSCAPE" | translate}}</span>: {{"NSWRM.CATALOG.LANDSCAPE." + measure.landscape | translate}}<br>
                            <span class="filter-name">{{"NSWRM.CATALOG.FILTER.LAND_USE" | translate}}</span>: <span *ngFor="let landUse of measure.landUses">{{"NSWRM.CATALOG.LAND_USE." + landUse | translate}}, </span><br>
                            <span class="filter-name">{{"NSWRM.CATALOG.FILTER.SOIL_PERMEABILITY" | translate}}</span>: {{"NSWRM.CATALOG.PERMEABILITY." + measure.permeability | translate}}<br>
                          <span class="filter-name">{{"NSWRM.CATALOG.FILTER.NEAR_A_WATERCOURSE" | translate}}</span>: <span *ngIf="measure.nearWater">{{"NSWRM.CATALOG.NEAR_WATER.YES" | translate}}</span><span *ngIf="!measure.nearWater">{{"NSWRM.CATALOG.NEAR_WATER.NO" | translate}}</span><br>
                        </div>

                      {{"NSWRM.CATALOG." + measure.id + ".DESCRIPTION" | translate}}
                    </div>
                    <a mat-flat-button color="primary" [hidden]="measure.dowloadLink == ''" target="_blank" href="{{measure.downloadLink}}">{{"NSWRM.CATALOG.READ_MORE" | translate}}</a>
                  </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        </div>
    </div>
</div>
