#measures-catalog .mat-checkbox {
}

#measures-catalog .mat-checkbox-layout .mat-checkbox-label {
  font-weight: 300;
  font-size:12pt;
}

#measures-catalog section {
  border-top:1px solid #d9d9d9;
  padding: 0px 15px 15px 20px;
}

#measures-catalog section > h6 {
  font-size:12pt;
  font-weight: 400;
  margin:30px 0 20px 0;
}

#measures-catalog #catalog {
    display: flex;
    flex-flow: row nowrap;
}

#search-form.narrow {
  max-width: 300px;
}

#search-container {
  flex: 1;
  margin-left: 30px;
}

#measures-catalog #search-container .mat-expansion-panel .measure-code {
  display: block;
  line-height: 150%;
  margin-right: 15px;
}

#measures-catalog #search-container .mat-expansion-panel .measure-name {
  color: rgba(0,0,0,.67);
  line-height: 150%;
  font-weight: 300;
}

#measures-catalog #search-container .mat-expansion-panel .description {
  font-weight:300;
  line-height: 150%;
  font-size: 12pt;
}

#measures-catalog #search-container .mat-expansion-panel-body a {
  float:right;
  margin:20px 0;
}

#measures-catalog #search-container .mat-expansion-panel .image-window {
  width:100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
}

#measures-catalog #search-container .mat-expansion-panel .image-window > img {
  width:100%;
}

#measures-catalog #search-container .sector-header {
  padding: 20px 25px;
}

#search-form button {
  float:right;
}

#search-container div.error {
  margin: 25px;
  color: #f55;
}

#search-form .filters {
  display: flex;
  flex-wrap: wrap;
}

#search-form .filters > .item {
  flex: 1 1 auto;
  padding-right: 40px;
  margin: 10px 0;
}

#search-form .filters > .fill-item {
  flex: 4 1 auto;
}

#search-container .filter-name {
  font-weight: 500;
  text-transform: uppercase;
}

#search-container .filter-description {
  font-size:10pt;
  margin-bottom:20px;
}
