<nav>
  <mat-toolbar class="mat-elevation-z6" color="primary">
    <img class="logo" src="/assets/img/framwat-logo.gif">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/education">{{ 'NAV.MENU.EDUCATION' | translate }}</button>
    <a mat-button href="https://drive.google.com/file/d/1oSrGZ1lNZSwyDRdLSVLLHf6H6xslAxLz/view?usp=sharing" target="_blank">{{ 'NAV.MENU.GUIDELINES' | translate }}</a>
    <button mat-button routerLink="/measures-catalog">{{ 'NAV.MENU.CATALOG_OF_MEASURES' | translate }}</button>
    <button mat-button routerLink="/tools">{{ 'NAV.MENU.TOOLS' | translate }}</button>
      <a mat-button href="https://docs.google.com/document/d/1rxrQtArCDYmr1BZf_o6RdF5MiQkjIqW3vGgQ-Ym0gnA" target="_blank">Help</a>
    <span class="fill-remaining-space"></span>
    <button mat-button [matMenuTriggerFor]="menu">{{languages[translate.currentLang]}}</button>
    <mat-menu #menu="matMenu" class="language-menu">
      <button mat-button *ngFor="let lang of translate.getLangs()" [hidden]="translate.currentLang == lang" (click)="changeLanguage(lang)">{{languages[lang]}}</button>
    </mat-menu>
    <button>v.0.1.65 10th August</button>
    <auth></auth>
  </mat-toolbar>
</nav>

<router-outlet></router-outlet>
<nav id="footer" [ngClass]="(footerBelow)? 'below' : ''">
  <div>
    <div class="col1">
      Decision Support System is a part
      of Central Europe Interreg Project
    </div>
    <div class="col2">
        <a mat-button routerLink="/education">Education</a>
        <a mat-button routerLink="/measures-catalog">{{ 'NAV.MENU.CATALOG_OF_MEASURES' | translate }}</a>
        <button mat-button routerLink="/tools">{{ 'NAV.MENU.TOOLS' | translate }}</button>
        <a mat-button routerLink="/planner">NWRM planner</a>
    </div>
    <div class="col3">
        <div style="font-size:12px;padding-bottom:10px">Współfinansowane przez:</div>
        <div style="background:#ffffff;padding:10px">
            <a href="https://www.gov.pl/web/nauka/" target="_blank"><img src="/assets/img/logo-mnisw.png"></a>
        </div>
    </div>
  </div>
  <div style="font-size:12px;line-height:1.5;padding-top:10px"> Research work funded by Polish Ministry of Science and Higher Education in the frame of the programme: International Cofunded projects during 2017 – 2020.<br>
        Praca naukowa finansowana ze środków finansowych na naukę w latach 2017-2020 przyznanych na realizację projektu międzynarodowego współfinansowanego</div>
</nav>
