app-root nav mat-toolbar, .mat-toolbar.mat-primary {
  background: #131833 !important;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

nav {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 9999;
}

nav mat-toolbar {
  padding-left:20px;
  padding-right:20px;
  height:48px;
}

nav mat-toolbar span {
  font-weight: 400;
  font-size: 14px;
}

.page-wrapper {
    max-width:1000px;
    margin: 0 auto;
    padding-top: 133px;
}

.page-wrapper .lead {
    font-size: 14pt;
    font-weight: 300;
    line-height: 150%;
    margin: 30px 0;
}

table.mat-table {
  width:100%;
}

.float-right {
  float: right;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.wrapper-header {
  padding: 15px 25px;
}

.wrapper-header mat-form-field {
  margin-bottom: -15px;
  margin-top: -15px;
}

.form-title {
  color: rgba(0, 0, 0, 0.54);
  background: rgba(0, 0, 0, 0.03);
}

.form-title h4 {
  margin: 0;
  padding: 15px 25px;
  font-weight: 400 !important;
  font-size: 14pt;
}

.mat-icon {
  overflow: hidden;
}

.cdk-overlay-container {
  z-index: 10000;
}

fieldset {
  border: 0 !important;
}

fieldset + h4 {
  margin-top: 30px;
}

.mat-tab-label {
  min-width: 120px;
  padding:0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

app-root {
  height: 100%;
  position: absolute;
  width: 100%;
}

p {
  font-size: 13pt;
  font-weight: 200;
  line-height: 150%;
}

p.lead {
  font-size: 15pt;
  font-weight: 400;
}

nav#footer {
  background: #3F3E3E;
  padding: 20px 0;
  bottom: -100px;
  top: auto;
  position: relative;
}

nav#footer > div {
  max-width:1000px;
  margin:0px auto;
  display: flex;
  flex-direction: row;
  color: #fafafa;
}

.language-menu button {
  display: block;
}

button[hidden] {
  display: none;
}

nav#footer.below {
    bottom: -111px;
    top: auto;
    position: absolute;
}

.user-menu button {
  display:block;
  width:100%;
}

.user-menu button:first-child {
  border-bottom: 1px solid #dcdcdc;
}

.mat-yellow {
  background-color: #F2C52A;
}

.cdk-column-action .mat-button {
  margin-right: 6px;
}

.cdk-column-action {
  white-space: nowrap;
}
