<div id="home">
    <app-header title="Decision Support System for Planning of Natural (Small) Water Retention Measures"></app-header>
    <div class="page-wrapper">
        <h3>{{"HOME.TITLE" | translate}}</h3>
        <p class="lead" [innerHtml]="'HOME.LEAD' | translate">
        </p>
        <p [innerHtml]="'HOME.CONTENT' | translate">
        </p>
    </div>
</div>
